@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/************
GLOBAL STYLES
*************/
:root {
  /*colors*/
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /*fonts*/
  --manrope-sans: "Manrope", sans-serif;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 62.5%;
  font-family: var(--manrope-sans);
}

body {
  @include center;
}

/************
MOBILE LAYOUT
*************/
.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);

  @include center;
}

.article {
  min-height: 75vh;
  width: 85%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 19.8rem auto;

  transform: translateY(-1rem);
  border-radius: 10px;
  box-shadow: 0px 21px 22px -7px rgba(0, 0, 0, 0.05);
}

/*header image style*/
.image {
  width: 100%;
  background-image: url(../../images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -1rem;

  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

/*article body style*/

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  & .content,
  & .footer {
    padding: 0 3.1rem;
  }
}

/*article content style*/

.content {
  margin-top: 3.5rem;

  &--title {
    font-size: 1.6rem;
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 1.1rem;
  }
  &--paragraph {
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--desaturated-dark-blue);
  }
}

/*article footer style*/
.footer {
  min-height: 6.2rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.writer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "image name" "image date";

  height: 4.5rem;
  &--image {
    grid-area: image;
    height: 4rem;
    width: 4rem;
    background-image: url(../../images/avatar-michelle.jpg);
    background-size: cover;
    border-radius: 50%;
  }
  &--name {
    grid-area: name;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
  }
  &--date {
    grid-area: date;
    font-size: 1.3rem;
    color: var(--grayish-blue);
  }
}

.social {
  display: none;
  &--title {
    color: var(--grayish-blue);
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
  }
  &--icon {
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
    &.fb {
      background-image: url(../../images/icon-facebook.svg);
    }
    &.twt {
      background-image: url(../../images/icon-twitter.svg);
    }
    &.pin {
      background-image: url(../../images/icon-pinterest.svg);
    }
  }
}
.option {
  @include center;
  // height: 4rem;
  width: 3rem;
  cursor: pointer;
}
.forward {
  &--icon {
    height: 3rem;
    width: 3rem;
    background-image: url(../../images/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
  }
}

/*active state*/
.footer._active {
  background-color: var(--very-dark-grayish-blue);
  & .writer {
    display: none;
  }

  & .option {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  & .social {
    width: 67%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/************
TABLET LAYOUT
*************/
@media screen and (min-width: 768px) {
  .article {
    min-height: 31vh;
    width: 83%;
    max-width: 67rem;

    display: grid;
    grid-template-columns: 25rem auto;
    grid-template-rows: 25rem;
  }

  /*header image style*/
  .image {
    background-position-y: 0rem;

    border-top-right-radius: initial;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  /*article body style*/

  .body {
    @include center;
    flex-direction: column;
    justify-content: space-between;

    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: initial;

    & .content,
    & .footer {
      padding: 0 4rem;
    }
  }

  /*article content style*/

  .content {
    margin-top: 2rem;
    &--title {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
  }

  /*article footer style*/
  .footer {
    width: 100%;
  }
  .writer {
    height: 4rem;
    &--image {
      height: 3.4rem;
      width: 3.4rem;
    }
    &--name {
      font-size: 1.1rem;
    }
    &--date {
      font-size: 1.1rem;
    }
  }
  .option {
    min-height: 14rem;
  }

  .forward {
    height: 3.6rem;
  }
  /*active state*/
  .footer._active {
    background-color: initial;
    & .writer {
      display: grid;
    }
    & .option {
      display: block;
      width: 3rem;
    }
    & .social {
      position: relative;
      background-color: var(--very-dark-grayish-blue);

      width: 26rem;
      padding: 1.8rem 3.8rem;
      border-radius: 10px;
      transform: translateX(-12.5rem) translateY(-3rem);

      &::after {
        content: "";
        position: absolute;
        background-color: inherit;
        height: 2rem;
        width: 2rem;

        left: 50%;
        top: 100%;

        transform: rotate(45deg) translate(-50%, -50%);
      }
    }
  }
}

/*************
DESKTOP LAYOUT
**************/
@media screen and (min-width: 1366px) {
  .article {
    min-height: 34vh;
    width: 50.5%;
    max-width: 72.7rem;

    grid-template-columns: 27rem auto;
    grid-template-rows: 27rem;
  }

  /*article content style*/

  .content {
    &--title {
      font-size: 2rem;
    }
  }

  /*article footer style*/

  .writer {
    &--image {
      height: 3.6rem;
      width: 3.6rem;
    }
    &--name {
      font-size: 1.2rem;
    }
    &--date {
      font-size: 1.2rem;
    }
  }
}
/*****************
ATTRIBUTION STYLES
******************/
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--very-dark-grayish-blue);
  text-align: center;

  & a {
    font-size: 1.5rem;
    color: inherit;
  }
}
